/* _typography.scss
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@import "compass/typography";
@include establish-baseline;

.post-title {
	font-size: 72px;
	color: white;
	font-style: italic;
}
